@use "../abstract/variables" as var;

.u-margin-top-s { margin-top: 2rem !important; }
.u-margin-top-m { margin-top: 3rem !important; }
.u-margin-top-l { margin-top: 8rem !important; }

.u-margin-bottom-s { margin-top: 2rem !important; }
.u-margin-bottom-m { margin-top: 3rem !important; }
.u-margin-bottom-l { margin-top: 8rem !important; }

// .winner_color { color: var.$color-green-light; }
// .loser_color { color: var.$color-error; }