// COLORS
$color-primary-dark: #0f2027;
$color-primary-light: #3c5364;
// $color-secondary: #f3fae0;
$color-secondary: #fefae0;
$color-tertiary: #d68c45;

$color-white: #eee;
$color-black: #111;
$color-green: #366536;
$color-green-light: #269e26;
$color-error: #D7263D;

// TEXT
$font-primary: 'Orbitron', serif;
$font-secondary: 'Roboto', sans-serif;

$large-font-size: 3.6rem;
$medium-font-size: 2.2rem;
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;